<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="person.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">FirstName</ion-label>
    <ion-input [(ngModel)]="person.firstName"></ion-input>
  </ion-item>
 
  <ion-button (click)="save()" expand="block">
    Guardar
  </ion-button>

  <ion-list>
    <ion-item *ngFor="let person of persons">
      <ion-label>
        <h3>{{person.name}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
